numpy
pandas
py_mini_racer
mini-racer
# TA_Lib 只在 Mac 系统上通过 pip 安装
# 其他系统请参考文档手动安装: install_talib.sh
TA_Lib; sys_platform == 'darwin'
arrow
bokeh
PyMySQL
requests
Logbook
SQLAlchemy
tornado
tqdm
easytrader
beautifulsoup4
pycryptodome
python_dateutil
python-dotenv